Notes by JMG: 
This is modified to try to save a database on an external hard drive.

Quick summary for Mac OSX installations.
- Install PostgresSQL binary from the Postgresql website, into the Applications folder.
- To start the PostgreSQL server, just double-click the application's icon
  - This should cause a little elephant to appear in the menu bar at the top of your screen
- You can change the data directory using the GUI that pops up
- The config files are in ~/Library/Application Support/... 

To create a database cluster on another hard drive (e.g. external drive):
- create a new, empty directory on the external drive (e.g. "Data/SQL/")
- run "initdb -D /Volumes/my_harddrive/Data/SQL/" to create the new db cluster
  - This will create a bunch of config files and stuff in this new directory
- use pg_ctl to start and stop the PostgreSQL server in this directory:
  "pg_ctl -D /Volumes/MYPASSPORT/Data/SQL/ -l logfile start"
  - "-D" is used to specify the data directory
  - "-l logfile" tells the server to write a log file called "logfile"
  - I think this command can be issued from any directory, but I'm not sure
  - "start" indicates that we want to start running the server
- connect to the server with "psql -d postgres"
  - here, 'postgres' is actually the name of the first, default database created when
    running the initdb command above.  See the first comment in here: 
    https://wiki.postgresql.org/wiki/First_steps for an explanation
    ...We could have avoided the need for "-d postgres" if we had used the option 
    "-U jgabor" when we had called "initdb" above.
  - an alternative might be to login using "sudo su postgres" then issue "psql" alone,
    which should log you in as the superuser.  From there you can can list all users with
    "\du" and maybe create/destroy users/databases
- quit your connection to a given database with "\q"
- create a new database with "createdb my_database"
  - you can then connect to this database with "psql -d my_database" as above
- Shut down the server with
  "pg_ctl -D /Volumes/MYPASSPORT/Data/SQL/ stop"
  - You can add options to the stop command with "-m [s, f, l]" where s, f, and l are short
    for "smart", "fast", and "immediate"
    
   

    
  

End Notes by JMG

# Dev Setups -- Connecting Python and SQL

The purpose of this ipython notebook is to demonstrate the usefulness of connecting python to a relational database  by using a python toolkit called SQLAlchemy. This tutorial follows the previous document, *** Python and SciPy stack ***

***First off, what is a relational database?***

Basically, it is a way to store information such that information can be retrieved from it.

MySQL and PostgreSQL are examples of relational databases.  For the purposes of an Insight project, you can use either one.


Why would you use a relational database instead of a csv or two?

**A few reasons:**

- They scale easily

-  They are easy to query

- Itâ€™s possible to do transactions in those cases where you need to write to a database, not just read from it

- Everyone in industry uses them, so you should get familiar with them, too.

***What does a relational database look like? ***

We can take a look.  First we need to set up a few things. The first thing we want to do is to get a PostgreSQL server up and running.  Go to `http://postgresapp.com/` and follow the three steps listed in the Quick Installation Guide. (If you aren't running a Mac, you can download PostgreSQL at http://www.postgresql.org/) 
    -- you can also use homebrew, but your path will change below --

We'll come back to PostgreSQL in a moment.  First, we'll set up SQLAlchemy.  Go ahead and try to implement the following.

In [2]:
## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

**Note:  if you have trouble installing psycopg2 and are getting a "pg_config executable not found" error, try adding "/Applications/Postgres.app/Contents/Versions/9.4/bin" to your PATH by typing the following in your terminal (make sure the version is actually 9.4):**


```export PATH="/Applications/Postgres.app/Contents/Versions/9.4/bin:$PATH"```

**Then try installing again:**

```pip install psycopg2```

To have launchd start postgresql at login: <br>
```ln -sfv /usr/local/opt/postgresql/*.plist ~/Library/LaunchAgents``` <br>
Then to load postgresql now: <br>
```launchctl load ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist``` <br>
Or, if you don't want/need launchctl, you can just run: <br>
```postgres -D /usr/local/var/postgres``` <br>
into the command line and also look at [this page](http://postgresguide.com/) for more detail

then 
```createdb```

at the terminal allows you to start to add a database to postgreSQL.

In [3]:
#In Python: Define a database name (we're using a dataset on births, so I call it 
# birth_db), and your username for your computer (CHANGE IT BELOW). 
dbname = 'taxi'
username = 'jgabor'

You need to start your postgresql server. Try this:

```postgres -D /usr/local/var/postgres```

In [8]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
#engine = create_engine('postgres://%s@localhost/%s'%(username,dbname))
engine = create_engine('postgresql://%s@localhost/%s'%(username,dbname))
print engine.url

postgresql://jgabor@localhost/taxi

In [9]:
print database_exists(engine.url)

True

In [10]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    print "Creating Database"
    create_database(engine.url)
print(database_exists(engine.url))

True

In [ ]:
# load a database from CSV
import zipfile
dir = "/Volumes/MYPASSPORT/Data/"
filebase = 'trip_fare_1.csv'
file = dir + filebase
file_zipped = file + '.zip'
zz = zipfile.ZipFile(file_zipped)
taxi_data = pd.read_csv(zz.open(filebase), nrows=100)

In [31]:
# Clean up some stuff
taxi_data.columns = taxi_data.columns.str.strip()  # Strip whitespace from colnames
# Convert pickup times to datetime objects
taxi_data['pickup_datetime'] = pd.to_datetime(taxi_data['pickup_datetime'])

In [33]:
# Split up the taxi data just for proof-of-concept
#
df1 = taxi_data[0:10]
df2 = taxi_data[-10:]

In [34]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
df1.to_sql('taxi_test', engine, if_exists='replace')

In [35]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
df2.to_sql('taxi_test', engine, if_exists='append')

The above line (to_sql) is doing a lot of heavy lifting.  It's reading a dataframe, it's creating a table, and adding the data to the table.  So ** SQLAlchemy is quite useful! **

### How this works outside of python:

** open up the PostgreSQL app, click on the "Open psql" button in the bottom right corner, ** <br>
or alternatively type <br>
```psql -h localhost``` <br> 
into the command line

**Type the following into the terminal that opens up**

`\c birth_db`

**You should see something like the following**

`You are now connected to database "birth_db" as user "wafasoofi".`



**Then try the following query:**

`SELECT * FROM birth_data_table;`

### You can see the table we created!  But it's kinda ugly and hard to read.

**Try a few other sample queries.  Before you type in each one, ask yourself what you think the output will look like:**

`SELECT * FROM birth_data_table WHERE infant_sex='M';`

`SELECT COUNT(infant_sex) FROM birth_data_table WHERE infant_sex='M';`

`SELECT COUNT(gestation_weeks), infant_sex FROM birth_data_table WHERE infant_sex = 'M' GROUP BY gestation_weeks, infant_sex;`

`SELECT gestation_weeks, COUNT(gestation_weeks) FROM birth_data_table WHERE infant_sex = 'M' GROUP BY gestation_weeks;`

In [36]:
## Now try the same queries, but in python!

# connect:
con = None
con = psycopg2.connect(database = dbname, user = username)

# query:
sql_query = """
SELECT * FROM taxi_test WHERE fare_amount > 10;
"""
subdat = pd.read_sql_query(sql_query,con)

subdat.head()

,index,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,7,0B57B9633A2FECD3D3B1944AFC7471CF,CCD4367B417ED6634D986F573A552A62,CMT,2013-01-07 12:39:18,CSH,34,0,0.5,0,4.8,39.3
1,9,2D4B95E2FA7B2E85118EC5CA4570FA58,CD2F522EEE1FF5F5A8D8B679E23576B3,CMT,2013-01-07 15:33:28,CSH,13,0,0.5,0,0.0,13.5
2,7,0B57B9633A2FECD3D3B1944AFC7471CF,CCD4367B417ED6634D986F573A552A62,CMT,2013-01-07 12:39:18,CSH,34,0,0.5,0,4.8,39.3
3,9,2D4B95E2FA7B2E85118EC5CA4570FA58,CD2F522EEE1FF5F5A8D8B679E23576B3,CMT,2013-01-07 15:33:28,CSH,13,0,0.5,0,0.0,13.5

### Is one method of querying the data faster than the other?  Probably not for the amount of data you can fit on your machine.

In [37]:
import time

t0 = time.time()
birth_data_from_sql = pd.read_sql_query(sql_query,con)
t1 = time.time()
total = t1-t0
print total

birth_data_from_sql.head()

0.00330686569214

,index,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,7,0B57B9633A2FECD3D3B1944AFC7471CF,CCD4367B417ED6634D986F573A552A62,CMT,2013-01-07 12:39:18,CSH,34,0,0.5,0,4.8,39.3
1,9,2D4B95E2FA7B2E85118EC5CA4570FA58,CD2F522EEE1FF5F5A8D8B679E23576B3,CMT,2013-01-07 15:33:28,CSH,13,0,0.5,0,0.0,13.5
2,7,0B57B9633A2FECD3D3B1944AFC7471CF,CCD4367B417ED6634D986F573A552A62,CMT,2013-01-07 12:39:18,CSH,34,0,0.5,0,4.8,39.3
3,9,2D4B95E2FA7B2E85118EC5CA4570FA58,CD2F522EEE1FF5F5A8D8B679E23576B3,CMT,2013-01-07 15:33:28,CSH,13,0,0.5,0,0.0,13.5

In [38]:
# JMG Close the connection to the database
con.close()

JMG -- I changed this so it's no longer code (because it doesn't work w/ my example)

birth_data = pd.DataFrame.from_csv('births2012_downsampled.csv')

t0 = time.time()
birth_data=birth_data.loc[(birth_data['delivery_method'] == 'Cesarean')]
t1 = time.time()
total = t1-t0
print total

birth_data.head()

## Loading a SQL database

What if you already have a sql database and you want to load it? We will do this with the world.db data from the mysql help tables. Download it [here](https://dev.mysql.com/doc/index-other.html)

In [11]:
###### THIS DOESN'T WORK YET, DAMNIT!!!!


import sqlite3

dbname2 = 'world'
engine2 = create_engine('postgres://%s@localhost/%s'%(username,dbname2))
#create_database(engine2.url)
#conn = psycopg2.connect(database=dbname2,user=username)

# Create database connection
engine2.connection = sqlite3.connect("world.db")

with engine2.connection as cursor:
    cursor.execute(open("world.sql", "r").read())

OperationalError: near "SCHEMA": syntax error

**This should have given you a quick taste of how to use SQLALchemy, as well as how to run a few SQL queries both at the command line and in python.  You can see that pandas is actually a little faster than PostgreSQL here - that is because of the extra time it takes to communicate between python and PostGreSQL.  But as your database gets bigger (and certainly when it's too large to store in memory), working with relational databases becomes a necessity.**